.callback-form {
  margin-bottom: 169px;
}

.callback-form__wrapper {
  // outline: 1px solid #0f0;
  min-height: 455px;

  background-image: url("../img/sunset-sky-sea.jpg");
  background-repeat: no-repeat;
  background-position: 12px top;
  background-size: contain;
}

.callback-form__form {
  background-color: $white;
  margin-left: auto;
  margin-right: -12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  padding: 50px;
  width: 656px;
  min-height: 315px;
  box-shadow: 0px 4px 30px rgba($shadow, 0.1);
  border-radius: 5px;
}

.callback-form__title {
  margin-top: 0;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  color: $dark;
}

.callback-form__text {
  margin-top: -1px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: $dark;

}

.callback-form__label-input {
  display: flex;
  margin-top: 12px;
  margin-bottom: auto;
  width: calc(50% - 10px);

  &:first-of-type {
    position: relative;
    .callback-form__input {
      padding-left: 50px;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: 15px;
      content: "*";
      color: $accent;
      font-size: 17px;
      line-height: 15px;
    }

    &::after {
      position: absolute;
      top: 17.5px;
      left: 25px;
      content: "+7";
      color: $dark;
      font-size: 14px;
      line-height: 15px;
    }
  }

  & + .callback-form__label-input {
    margin-left: 20px;
  }
}

.callback-form__input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid rgba($dark-two, 0.3);
  font: inherit;
  color: $dark;
  font-size: 14px;
  line-height: auto;
  outline: none;

  &:hover,
  &:focus {
    border-color: $dark-two;
  }

  &:invalid {
    border-color: $accent;
    outline: none;
  }
}

.callback-form__button-submit {
  margin-top: auto;
  min-height: 50px;
  padding: 17px 42px 16px;
  box-sizing: border-box;
  text-align: center;
  color: $white;
  background-color: $accent;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
