.callback-form {
  margin-bottom: 169px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 81px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 61px;
  }
}

.callback-form__wrapper {
  min-height: 455px;

  background-image: url("../img/sunset-sky-sea.jpg");
  background-repeat: no-repeat;
  background-position: 27px top;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sunset-sky-sea@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    background-image: url("../img/sunset-sky-sea-tablet.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sunset-sky-sea-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;

    background-image: none;
  }
}

.callback-form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
  width: 656px;
  min-height: 315px;
  margin-right: -12px;
  margin-left: auto;
  padding: 50px;

  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba($shadow, 0.1);

  @media (max-width: $tablet-width-max) {
    max-width: 100%;
    min-height: 311px;
    margin: auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    min-height: 441px;
    padding: 50px 16px;

    background-color: $grey-three;
    outline: 1px solid red;
    box-shadow: none;
  }
}

.callback-form__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: $dark;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 10px;
  }
}

.callback-form__text {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $dark;
}

.callback-form__label-input {
  display: flex;
  width: calc(50% - 10px);
  margin-top: 12px;
  margin-bottom: auto;

  &:first-of-type {
    position: relative;

    .callback-form__input {
      padding-left: 50px;
    }

    &::before {
      content: "*";
      position: absolute;
      top: 10px;
      left: 15px;

      font-size: 17px;
      line-height: 15px;
      color: $accent;
    }

    &::after {
      content: "+7";
      position: absolute;
      top: 17.5px;
      left: 25px;

      font-size: 14px;
      line-height: 15px;
      color: $dark;
    }
  }

  & + .callback-form__label-input {
    margin-left: 20px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-top: 10px;

    & + .callback-form__label-input {
      margin-left: 0;
    }
  }
}

.callback-form__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px;

  font: inherit;
  font-size: 14px;
  line-height: auto;
  color: $dark;

  border: 1px solid rgba($dark-two, 0.3);
  outline: none;

  &:hover,
  &:focus {
    border-color: $dark-two;
  }

  &:invalid {
    border-color: $accent;
    outline: none;
  }
}

.callback-form__button-submit {
  box-sizing: border-box;
  min-height: 50px;
  margin-top: auto;
  padding: 17px 42px 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: $accent;
  border: none;

  @media (max-width: $tablet-width-max) {
    padding: 19px 84px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}
