.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1170px;
  margin-right: auto;
  margin-bottom: 75px;
  margin-left: auto;
  padding: 0 10px 0 13px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 50px;
    padding: 0 21px;
    overflow-x: hidden;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 25px;
    padding: 0 16px;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark;

  grid-column: 1 / -1;

  @media (max-width: $mobile-width-max) {
    text-align: center;
  }
}

.footer__next-travels {
  display: grid;
  width: 350px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;

  @media (max-width: $tablet-width-max) {
    padding-right: 45px;
    column-gap: 25px;

    border-right: 1px solid $grey;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-bottom: 16px;
    grid-template-columns: 1fr;

    border-right: none;
    border-bottom: 1px solid $grey;


    .footer__title {
      width: 100%;
    }
  }
}

.footer__links-list {
  margin: 20px 0 0;
  padding: 0;

  list-style: none;

  li + li {
    margin-top: 8px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 19px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__list-link {
  a {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba($dark, 0.5);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $dark;
    }
  }

  @media (max-width: $mobile-width-max) {
    text-align: center;
  }
}

.footer__contacts {
  // margin-right: 50px;
  align-self: stretch;
  width: 267px;
  margin-left: 52px;
  // padding-left: 90px;
  padding-right: 5px;

  // border-right: 1px solid $grey;
  // border-left: 1px solid $grey;

  @media (max-width: $tablet-width-max) {
    width: 281px;
    margin-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;

    .footer__title {
      padding-right: 10px;
    }
  }
}

.footer__contacts-list {
  margin: 22px 0 0;
  padding: 0;

  list-style: none;

  li + li {
    margin-top: 17px;
  }

  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;

    li + li {
      margin-top: 12px;
    }
  }
}

.footer__contact-link {
  position: relative;

  display: flex;

  color: $accent;

  svg {
    margin-right: 10px;
  }

  &--email {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;


    svg {
      margin-right: 15px;
    }
  }

  &--phone {
    position: relative;

    font-size: 16px;
    line-height: 32px;

    svg {
      fill: none;
      stroke: $grey;
    }
  }
}

.footer__corporate-travels {
  width: 320px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin-top: 27px;
    padding-top: 30px;

    border-top: 1px solid $grey;


    .footer__title {
      text-align: center;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 14px;

    .footer__title {
      margin-right: -9px;
      margin-left: -5px;
    }
  }
}

.footer__text {
  width: 320px;
  margin: 20px 0 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba($dark, 0.5);

  @media (max-width: $tablet-width-max) {
    width: 100%;
    margin: 20px 0 0;

    text-align: center;
  }
}
