.places-slider {
  padding-top: 95px;
  padding-bottom: 220px;

  @media (max-width: $tablet-width-max) {
    padding-top: 98px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 40px;
  }
}

.places-slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.places-slider__tabs-list {
  display: flex;
  justify-content: space-between;
  width: 902px;
  margin: 0 0 79px;
  padding: 0 0 15px;
  overflow-x: auto;

  list-style: none;

  border-bottom: 1px solid rgba($dark-two, 0.3);

  @media (max-width: $tablet-width-max) {
    box-sizing: border-box;
    width: calc(100vw - var(--scrollbar-size));
    margin-bottom: 31px;
    padding-left: 37px;
    overflow: auto;

    gap: 0 100px;
    --scrollbar-size: calc(100vw - 100%);
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 22px;
    margin-left: 15px;
    padding-left: 0;
  }
}

.places-slider__tab-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba($dark-two, 0.3);
  text-decoration: none;
  letter-spacing: -0.41px;

  &:hover,
  &:focus {
    color: $dark-two;
  }

  &--active {
    color: $accent;
  }
}

.places-slider__slides-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
