.places-of-visit {
  padding-top: 199px;

  @media (max-width: $tablet-width-max) {
    padding-top: 80px;
  }
}

.places-of-visit__wrapper {
  outline: 1px solid #0f0;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

.places-of-visit__title {
  position: relative;
  width: min-content;
  margin-top: 0;
  margin-bottom: 65px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  color: $dark-two;
  letter-spacing: -1.25px;

  &::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    width: 228px;
    height: 3px;
    content: "";
    background-color: $accent;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 45px;
    width: auto;
    letter-spacing: 0;
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }
}

.places-of-visit__text {
  width: 328px;
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  color: $dark-two;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width-max) {
    width: 343px;
    text-align: center;
    margin-bottom: 40px;
  }
}

.places-of-visit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(3, 350px);
  // justify-content: space-evenly;
  row-gap: 102px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width-max) {
    row-gap: 20px;
    column-gap: 30px;
  }
}

.places-of-visit__list-item {
  // margin-left: auto;
  // margin-right: auto;
  position: relative;
  padding: 0;

  img {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & + .places-of-visit__list-item {
    margin-left: 60px;
  }

  &:last-child {
    // Временно, для ПП, но переполнение не пройдет
    margin-left: 120px;
    margin-right: 60px;
  }

  @media (max-width: $tablet-width-max) {
    & + .places-of-visit__list-item {
      // margin-left: 30px;
      margin-left: 0;
    }

    &:last-child {
      margin: 10px 0 0;
    }
  }
}

.places-of-visit__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  height: 430px;
  text-decoration: none;

  @media (max-width: $tablet-width-max) {
    width: 288px;
    height: 425px;
  }
}

.places-of-visit__link-label {
  position: absolute;
  bottom: 0;

  min-width: 215px;
  max-width: 350px;
  min-height: 62px;
  padding: 17px 15px;
  box-sizing: border-box;

  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px;
  color: $dark-two;
  text-align: center;
  background-color: $white;
}
