.promo {
  min-height: 860px;

  background-color: $background-color-promo;
  background-image: url("../img/promo-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 860px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-back@2x.jpg");
  }
}

.promo__wrapper {
  display: flex;
  outline: 1px solid #00f;
  height: 100%;
}

.promo__inner {
  // padding: 185px 60px 30px 700px;
  display: flex;
  width: 412px;
  flex-wrap: wrap;
  margin-top: 185px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 58px;
  color: $white;
  outline: 1px solid #00ff00;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.11px;
}

.promo__text {
  width: 376px;
  margin-top: 0;
  margin-bottom: 35px;
  width: 376px;
  font-size: 16px;
  line-height: 27px;
  font-weight: normal;
  letter-spacing: -0.47px;
}

.promo__link {
  display: inline-flex;
  justify-content: space-between;
  width: 340px;
  min-height: 75px;
  box-sizing: border-box;
  flex-grow: 0;
  padding: 30px 40px;

  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  background-color: $accent;
}
