.promo {
  min-height: 860px;

  background-color: $background-color-promo;
  background-image: url("../img/promo-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 860px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-back@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    min-height: 344px;

    background-image: url("../img/promo-back-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    position: relative;

    min-height: 235px;

    background-color: $white;
    background-image: url("../img/promo-back-mobile.jpg");
    background-position: center top;
    background-size: contain;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;

      display: block;
      width: 320px;
      height: 235px;

      background-color: $background-color-promo;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  display: flex;
  height: 100%;
}

.promo__inner {
  display: flex;
  flex-wrap: wrap;
  width: 412px;
  margin-top: 185px;
  margin-right: 58px;
  margin-bottom: 30px;
  margin-left: auto;

  color: $white;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 60px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin: 0;
    padding-top: 82px;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.11px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 17px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 102px;
    padding-left: 5px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

.promo__text {
  width: 376px;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 35px;

  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width-max) {
    width: 395px;
    margin-bottom: 10px;

    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 21px;

    color: $dark-two;

    background-color: $white;
  }
}

.promo__link {
  display: inline-flex;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 340px;
  min-height: 75px;
  padding: 30px 40px;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.3px;

  background-color: $accent;

  &:hover,
  &:focus {
    background-color: $accent-hover;
  }

  @media (max-width: $tablet-width-max) {
    width: 250px;
    min-height: 50px;
    padding: 17px 40px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;

    letter-spacing: 2px;
  }
}
