.wrapper {
  max-width: calc(1200px);
  min-width: calc($desktop-width);
  box-sizing: border-box;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;

  @media (max-width: $tablet-width-max) {
    max-width: $tablet-width-max;
    min-width: $tablet-width;
    padding: 0 20px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: $mobile-width-max;
    min-width: $mobile-width;
    padding: 0 10px;
    border: 5px solid red;
  }
}
